.win {
    width: 115px;
    height: 26px;
    cursor: pointer;
    color: white;
    outline: none;
    background: #222222;
    border: 1px solid white;
}
  
.startbtn {
    width: 75px;
    height: 35px;
    cursor: pointer;
    color: white;
    outline: none;
    background: #222222;
    border: 1px solid white;
}